[Unit]
Description=HOMEINFO Digital Signage Linux configuration
Requires=multi-user.target
After=multi-user.target
Conflicts=rescue.service rescue.target getty.target getty@tty1.service
Wants=hidslcfg.service
